/*                                                                              MEDIA QUERIES */
@media (max-width: 1605px) {
  #HomeContainer {
    padding-bottom: 100px;
  }

  #HeroSectionContainer {
    width: 90vw;
    justify-content: space-around;
  }

  .btn-home {
    /* estaba en 60px pero me parecia poco */
    margin-top: 100px;
  }

  .hacemos-img {
    width: 205px;
    height: 200px;
    border-radius: 60px;
  }

  .abajo-derecha {
    left: 48%;
    width: 45%;
  }

  .linea-medio {
    height: 1290px;
  }

  .linea-como-hacemos {
    width: 85%;
    left: 5%;
  }

  .abajo {
    left: 5%;
    width: 90%;
  }

  .container-que-hacemos-text {
    width: 700px;
  }

  .container-deslizante {
    width: 552px;
    height: 381px;
    border-radius: 70px;
  }

  .container-proyectos-components {
    margin-right: 45px;
  }

  .slick-dots {
    bottom: 10px;
  }

  /*          servicios */

  .container-info-hero-servicios {
    width: 630px;
    height: 200px;
  }

  .container-proyectos-components {
    margin-left: 40px;
  }

  /*           footer */
}

@media (max-width: 1366px) {
  /* home hero */

  #HeroSectionContainer {
    width: 80vw;
    justify-content: space-around;
  }

  header {
    padding: 5px 0px 0px 10px;
  }

  .LogoText {
    font-size: 14px;
    margin-bottom: 0px;
  }

  #logo {
    width: 65px;
    height: 65px;
  }

  .barraNav {
    padding: 5px;
  }

  .linksNav {
    padding-bottom: 1px;
    font-size: 18px;
  }

  #whatsappBoton {
    bottom: 10px;
    right: 20px;
    width: 80px;
    height: 80px;
  }

  #whatsappBoton img {
    width: 80px;
  }

  .btn-home {
    padding: 10px 35px;
    font-size: 20px;
  }

  .Title {
    font-size: 50px;
    margin-top: 20px;
  }

  .Subtitle {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .HeroTitle {
    font-size: 40px;
    margin: 10px 0px 30px 0px;
  }

  .HeroText {
    font-size: 15px;
  }

  .hero-pick {
    height: 450px;
    width: 350px;
    margin-bottom: 80px;
  }

  /* quienes somos */

  .container-quienes-somos {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .container-quienes-somos img {
    width: 370px;
    height: 350px;
    border-radius: 80px;
  }

  .container-quienes-text {
    width: 502px;
    padding-top: 0px;
  }

  .quienes-title {
    font-size: 45px;
    margin: 0 0 30px 0;
  }

  .quienes-text {
    font-size: 19px;
  }

  /* que hacemos */
  .container-que-hacemos {
    column-gap: 60px;
    padding: 70px 0px;
  }

  .img-principal {
    width: 370px;
    height: 350px;
    border-radius: 80px;
  }

  .container-que-hacemos-text {
    width: 560px;
    height: 426px;
  }

  .container-hijo-hacemos {
    width: 160px;
  }

  .hacemos-title {
    font-size: 45px;
    margin-bottom: 50px;
  }

  .hacemos-img {
    width: 175px;
    height: 170px;
    border-radius: 60px;
  }

  .hacemos-text {
    font-size: 15px;
  }

  .abajo {
    bottom: 40px;
  }

  .linea-medio {
    height: 1000px;
    bottom: 300px;
  }

  /* como lo hacemos */
  .container-como-hacemos {
    margin-top: 30px;
    padding-bottom: 0px;
  }

  .img-como-hacemos {
    width: 436px;
    height: 633px;
    border-radius: 50px;
  }

  .como-hacemos-title {
    font-size: 45px;
    margin-top: 0px;
  }

  .como-hacemos-text {
    font-size: 20px;
    padding-bottom: 30px;
  }

  /* slide */
  .container-deslizante {
    width: 452px;
    height: 301px;
    border-radius: 50px;
    margin-top: 50px;
    border: 3px solid #5e51b3;
  }

  .slick-list {
    border-radius: 50px;
  }

  .slick-slide div {
    width: 452px;
    height: 301px;
  }

  .boton-slider img {
    width: 20px;
    height: 35px;
  }

  /* scroll tips */
  .portada-text {
    font-size: 36px;
    margin: 0;
  }

  #numero-3 {
    font-size: 90px;
  }

  /* tip1 */
  .p1-tip1 {
    font-size: 32px;
  }

  .p2-tip1 {
    margin: 30px 0px 25px 200px;
    font-size: 15px;
  }

  .p3-tip1 {
    margin: 0px 10px;
    font-size: 13px;
    padding-bottom: 30px;
    width: 365px;
  }

  /* tip2 */
  .title-tip2 {
    font-size: 32px;
    width: 180px;
  }

  #div-1-tip2 {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  #p1-tip2 {
    width: 154px;
    font-size: 14px;
  }

  #num-tip2 {
    width: 40px;
    font-size: 35px;
  }

  #div-2-tip2 {
    margin-top: 15px;
    margin-bottom: px;
  }

  #div-2-tip2 img {
    width: 129px;
    height: 97px;
    border: 2px solid white;
  }

  #div-2-tip2 p {
    width: 171px;
    font-size: 13px;
  }

  /* tip 3 */
  .p1-tip3 {
    font-size: 35px;
    height: 40px;
    margin: 30px 0px 5px 0px;
  }

  .p2-tip3 {
    font-size: 30px;
    height: 107px;
  }

  .p3-tip3 {
    font-size: 14px;
    width: 393px;
    height: 90px;
  }

  /* servicios */
  .container-servicio {
    padding-bottom: 100px;
  }

  #titulo-servicios {
    margin-top: 0px;
    padding-top: 10px;
    font-size: 70px;
  }

  .container-hero-servicios {
    height: 550px;
  }

  .container-info-hero-servicios {
    width: 550px;
    height: 160px;
    padding: 5px 0px;
    border: 3px solid #00ceff;
  }

  .container-izquierda {
    border-left: transparent;
  }

  .container-derecha {
    border-right: transparent;
  }

  .container-info-hero-servicios h3 {
    font-size: 24px;
  }

  #container-servicios-1 {
    top: 210px;
  }

  #container-servicios-2 {
    top: 320px;
  }

  #container-servicios-3 {
    top: 460px;
  }

  #container-servicios-4 {
    top: 570px;
  }

  .container-p-servicios {
    font-size: 16px;
    width: 300px;
  }

  .title-servicio {
    padding-top: 0px;
    width: 785px;
    height: 80px;
    font-size: 70px;
    line-height: 110px;
    margin: 0px;
    margin-top: 80px;
  }

  .subtitle-servicio {
    font-size: 25px;
    line-height: 30px;
  }

  .container-components-servicio {
    row-gap: 60px;
    column-gap: 140px;
    margin-top: 80px;
  }

  .container-info-servicio {
    width: 480px;
    border-radius: 65px;
    height: 300px;
  }

  .titulo-info-servicio {
    margin: 0px 0px 30px 0px;
    font-size: 20px;
  }

  .info-servicio {
    margin-bottom: 20px;
    font-size: 14px;
  }

  /* beneficios */
  .titulo-beneficios {
    font-size: 54px;
    margin: 0px 0px 0px 0px;
  }

  .beneficios-grid {
    margin-top: 40px;
  }

  .container-info-beneficios {
    width: 300px;
    height: 200px;
    padding: 30px;
    border-radius: 40px;
    border: 3px solid #5e51b3;
  }

  .titulo-info-beneficios {
    font-size: 20px;
  }

  .info-beneficios {
    font-size: 18px;
  }

  .boton-presupuesto {
    margin-top: 70px;
    margin-bottom: 0px;
    width: 500px;
    height: 55px;
    border-radius: 50px;
    font-size: 20px;
  }

  .boton-presupuesto img {
    width: 40px;
  }

  .extra-beneficios {
    margin-top: 30px;
    margin-bottom: 100px;
    height: 300px;
  }

  .extra-item h3 {
    font-size: 22px;
  }

  .extra-item p {
    font-size: 20px;
    margin-top: 65px;
    width: 80%;
  }

  #linea-horizontal-beneficios {
    height: 3px;
  }

  #borde-vertical-medio {
    border-left: 3px solid #5e51b3;
    border-right: 3px solid #5e51b3;
  }

  /*           footer */

  /*          proyectos */

  .container-proyectos {
    padding-bottom: 100px;
    padding-top: 40px;
  }

  .HeroProyects {
    margin-bottom: 0px;
  }

  .texto-principal-proyectos {
    font-size: 50px;
  }

  .texto-secundario-proyectos {
    font-size: 30px;
  }

  .texto-terciario-proyectos {
    font-size: 18px;
    padding: 10px;
    width: 302px;
  }

  .titulo-proyectos {
    margin: 30px 0px 0px 0px;
    font-size: 26px;
    width: 300px;
  }

  .HeroPickProjects {
    border-radius: 30px;
    width: 342px;
    height: 484px;
  }

  .container-proyectos-components {
    width: 1200px;
    height: 500px;
    margin-top: 60px;
    margin-right: 45px;
  }

  .slider-proyectos div {
    width: 1250px;
    height: 500px;
  }

  /*               contacto */

  .container-contacto {
    padding-top: 10px;
  }

  .container-contacto h1 {
    font-size: 44px;
    margin: 0px 0px 0px 60px;
  }

  .container-hero-contacto {
    margin-bottom: 10px;
  }

  /* Mapa */
  .container-mapa {
    width: 520px;
    height: 400px;
    margin-top: 15px;
    border-radius: 30px;
    border: 4px solid #5e51b3;
  }

  iframe {
    border-radius: 30px;
  }

  /* formulario */

  #containerForm {
    border-radius: 25px;
    width: 230px;
    padding: auto 50px;
    border: 3px solid #5e51b3;
  }

  .TitleForm {
    font-size: 17px;
  }

  label {
    margin-bottom: 5px;
    font-size: 14px;
  }

  input {
    padding: 1px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 12px;
    height: 30px;
  }

  textarea {
    height: 80px;
    border-radius: 3px;
    font-size: 12px;
  }

  #submit {
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 10px;
  }

  .error {
    font-size: 10px;
    padding-bottom: 10px;
    font-weight: 500;
  }

  .container-redes {
    height: 90px;
  }

  .container-redes img {
    margin: 0px 20px;
    width: 40px;
  }

  .linea-redes-izquierda {
    width: 40%;
  }

  .linea-redes-derecha {
    width: 40%;
  }

  .container-proyectos-components {
    margin-left: 50px;
  }
}

@media (max-width: 1280px) {
  .linea-medio {
    height: 1030px;
  }
}

@media (max-width: 1409px) {
  .HeroText {
    font-size: 19px;
  }
}

/* mobile */

@media (max-width: 768px) {
  /* barra nav ajustes */

  .barraNav {
    display: none;
  }

  header {
    padding: 5px 10px;
    position: sticky;
    top: 0;
  }
  .ContainerLogo {
    align-items: end;
    padding: 2px 0px;
  }
  .LogoText {
    font-weight: 600;
    margin-top: 0;
    font-size: 12px;
  }

  #logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  #navCelu {
    display: block;
    justify-content: center;
    align-items: center;
  }
  #navCelu button {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
  }

  #img-toggle {
    width: 30px;
    height: 30px;
  }
  #navCelu ul {
    position: absolute;
    right: 0px;
    top: 52px;
    list-style: none;
    margin: 0px;
    padding: 15px 0px;
    background-color: #0a0f15;
    height: 180px;
    width: 174px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: grid;
    justify-items: flex-start;
    align-items: center;
  }

  #navCelu ul li {
    text-decoration: none;
    padding-left: 20px;
  }
  #navCelu ul li a {
    display: flex;
    color: white;
    font-family: "Nunito Sans", serif;
    text-decoration: none;
    margin: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
  }
  #navCelu ul li img {
    width: 16px;
    height: 16px;
    margin: 0 7px 0 0;
    padding: 0;
  }

  /* Home */

  #whatsappBoton {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease;
    border-radius: 60px;
    align-content: center;
    justify-content: center;
    padding: 7px;
  }

  #whatsappBoton img {
    width: 100%;
    filter: drop-shadow(0px 0px 8px rgb(0, 0, 0));
    z-index: 20;
    padding: 4px 0px 0px 2px;
  }

  #whatsappBoton::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #00ff155d;
    top: 0px;
    left: 0px;
    border-radius: 100%;
    animation: orbit 1s linear infinite;
  }

  #HomeContainer {
    padding-bottom: 0px;
  }

  .Title {
    font-size: 24px;
    border-bottom: 1px solid white;
    margin: 20px 0px 0px 0px;
    line-height: 24px;
    padding-bottom: 0px;
    width: auto;
  }

  .Subtitle {
    font-size: 16px;
    line-height: 15px;
    margin: 7px 0px 15px 0px;
  }

  /*                                                    HeroSection mobile*/

  #HeroSectionContainer {
    width: 95vw;
    position: relative;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  #HeroTextContainer {
    display: block;
    width: 60%;
    padding-right: 0px;
  }

  .HeroTitle {
    font-size: 18px;
    width: 135%;
    margin-bottom: 0px;
  }

  .HeroText {
    font-weight: 500;
    font-size: 12px;
    padding-right: 5px;
  }

  .hero-pick {
    border-radius: 10px;
    width: 128px;
    height: 172px;
    box-shadow: 0px 0px 3px 3px rgb(3, 3, 3);
    margin: 0;
    position: absolute;
    bottom: 35px;
    right: 0px;
  }

  .btn-home {
    display: none;
  }

  /* sacar lineas desktop */
  .linea {
    display: none;
  }

  .abajo-derecha {
    display: none;
  }

  .abajo {
    display: none;
  }

  .linea-como-hacemos {
    display: none;
  }

  .linea-medio {
    display: none;
  }

  /* lineas mobile */

  .linea-mobile-hero-izquierda {
    display: flex;
    position: absolute;
    height: 1px;
    background-color: #5e51b3;
    width: 40%;
    left: 0;
    bottom: 0;
    margin: 0px;
  }
  .linea-mobile-hero-derecha {
    display: flex;
    position: absolute;
    height: 1px;
    background-color: #5e51b3;
    width: 40%;
    right: 0;
    bottom: 0;
    margin: 0px;
  }

  /*                                                         quienes somos mobile*/

  #img-pc-quienes {
    display: none;
  }

  .container-quienes-somos {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
  }
  .separador-mobile {
    display: flex;
    margin-top: 20px;
    padding: 0px 2.5%;
    justify-content: space-between;
  }
  .container-quienes-somos img {
    height: 158px;
    border-radius: 10px;
    width: 128px;
    min-width: 128px;
    box-shadow: 0px 0px 3px 3px rgb(3, 3, 3);
  }

  .container-quienes-text {
    display: none;
  }

  .quienes-title {
    display: none;
  }
  .quienes-title-mobile {
    display: block;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin: 0px;
  }

  .quienes-text {
    display: none;
  }
  .quienes-text-mobile {
    width: 60%;
    display: block;
    margin: 0px;
    margin-right: 8px;
    font-size: 12px;
    line-height: 15px;
    text-align: start;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
  }

  /*                                                            que hacemos mobile */

  .container-que-hacemos {
    padding: 20px 0px 20px 0px;
  }

  .img-principal {
    display: none;
  }
  .container-que-hacemos-text {
    width: 100%;
    height: auto;
    text-align: center;
    width: 100%;
  }
  .container-hijo-hacemos {
    width: 100%;
  }
  .hacemos-title {
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .hacemos-img {
    width: 98px;
    height: 95px;
    border-radius: 10px;
  }

  .hacemos-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: start;
    margin: 2px 0px;
    width: 98px;
  }

  /*                                                        como hacemos mobile */
  .contenedor-imagen-como-hacemos {
    display: none;
  }
  .container-section-info-como-hacemos {
    display: none;
  }
  .container-como-hacemos {
    margin: 20px;
  }
  .container-como-hacemos-mobile {
    display: block;
  }

  .container-text-como-hacemos-mobile {
    display: block;
    justify-items: center;
  }

  .como-hacemos-title-mobile {
    display: block;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin: 0px;
    line-height: 20px;
  }

  .como-hacemos-text-mobile {
    display: block;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    font-size: 12px;
    width: 80%;
    margin: 20px 0 0 0;
  }

  .container-elements-mobile {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
  }

  .img-como-hacemos-mobile {
    display: block;
    width: 140px;
    height: 183px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgb(3, 3, 3);
  }

  /*                                                    slider mobile */
  b {
  }

  .container-deslizante {
    width: 179px;
    height: 128px;
    border-radius: 40px;
    margin: 0px;
    border: 1px solid #5e51b3;
  }
  .boton-slider-izquierda:hover {
    transform: translate(0px, 0px);
  }
  .boton-slider-derecha {
    right: 8px;
  }
  .boton-slider-derecha:hover {
    transform: translate(0px, 0px);
  }
  .boton-slider {
    width: 8px;
    height: 12px;
  }
  .boton-slider img {
    width: 8px;
    height: 12px;
  }
  .slick-list {
    overflow: hidden;
    border-radius: 35px;
  }
  .slick-slide div {
    width: 179px;
    height: 128px;
  }
  .slick-dots {
    bottom: -4px;
  }
  .slick-dots li button:before {
    font-size: 4px;
    /* Aumenta el tamaño de los puntos */
    color: #ffffff;
  }

  /*                                              tips */

  /*                                           portada tips */

  .portada-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }

  #numero-3 {
    font-size: 32px;
    font-weight: 700;
    left: 20px;
    top: -10px;
    line-height: 32px;
    padding-bottom: 0px;
  }

  /*                                           tip1 */

  .p1-tip1 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-weight: 600;
    font-size: 12px;
    margin: 5px 0px;
  }

  #ubicacion-text {
    margin-right: 50px;
  }

  .p2-tip1 {
    margin: 10px 0px 10px 50px;
    font-weight: 500;
    font-size: 6px;
  }

  .p3-tip1 {
    margin: 5px 0px;
    font-weight: 700;
    font-size: 6px;
    padding-bottom: 10px;
    width: 80%;
    height: auto;
  }

  /*                                               tip2*/
  #container-tip2 {
    padding: 0px 20px;
  }

  .title-tip2 {
    font-weight: 700;
    font-size: 12px;
    width: 50%;
    margin: 3px 0px;
  }

  #div-1-tip2 {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
  }

  #p1-tip2 {
    width: 60px;
    font-weight: 500;
    font-size: 6px;
    text-align: start;
    margin: 0;
  }

  #num-tip2 {
    width: auto;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
  }

  #div-2-tip2 {
    width: 100%;
    height: 30%;
    justify-content: end;
    margin: 0;
  }

  #div-2-tip2 img {
    display: none;
  }

  #div-2-tip2 p {
    width: 81px;
    text-align: end;
    font-weight: 500;
    font-style: normal;
    font-size: 5px;
  }

  /*                                                       tip3 */

  #container-tip3 {
    align-content: center;
  }

  .p1-tip3 {
    font-weight: 600;
    font-size: 12px;
    width: auto;
    height: auto;
    margin: 0px 0px;
  }

  .p2-tip3 {
    font-weight: 700;
    font-size: 12px;
    width: 70%;
    height: auto;
    margin: 4px 0px;
  }

  .p3-tip3 {
    font-weight: 500;
    font-size: 5px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0px 40px;
  }

  /*                                                    Servicios mobile */

  .container-servicio {
    width: 100%;
    height: 100%;
    justify-items: center;
    text-align: center;
    padding-bottom: 35px;
  }

  #titulo-servicios {
    text-align: center;
    width: auto;
    width: auto;
    height: auto;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin: 0px;
    padding: 20px 0px;
  }

  .container-hero-servicios {
    height: 370px;
    display: block;
  }

  .container-info-hero-servicios {
    width: 180px;
    height: 93px;
    padding: 0px 0px;
    border: 2px solid #00ceff;
  }

  .container-info-hero-servicios h3 {
    font-weight: 600;
    font-size: 12px;
    margin: 15px 0px 0px 0px;
  }

  .container-izquierda {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    left: 0px;
    border-left: transparent;
  }
  .container-izquierda p {
    padding-top: 10px;
  }

  .container-derecha {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    position: absolute;
    right: 0px;
    border-right: transparent;
  }

  #container-servicios-1 {
    top: 140px;
  }

  #container-servicios-2 {
    top: 220px;
  }

  #container-servicios-3 {
    top: 300px;
  }

  #container-servicios-4 {
    top: 380px;
  }
  #container-servicios-4 p {
    padding-top: 10px;
  }

  .container-p-servicios {
    font-weight: 400;
    font-size: 10px;
    width: 80%;
    padding: 0px 0px;
  }
  .container-p-servicios p {
    margin: 0px;
  }

  .title-servicio {
    padding-top: 0px;
    text-align: center;
    width: auto;
    height: auto;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    margin: 0px;
    line-height: 40px;
  }

  .subtitle-servicio {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0px;
  }

  .container-components-servicio {
    display: block;
    margin-top: 30px;
    justify-content: center;
  }

  .container-info-servicio {
    width: 153px;
    height: 130px;
    border-radius: 30px;
    border: 1px solid #00ceff;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
  }

  .titulo-info-servicio {
    margin: 0px 0px 10px 0px;
    font-weight: 700;
    font-size: 10px;
    width: 90%;
  }

  .container-texto-servicio {
    text-align: start;
    width: 80%;
  }

  .info-servicio {
    margin: 0px;
    font-size: 7px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  /*                                                                beneficios mobile */
  .container-beneficios {
    padding: 0px 0px 50px 0px;
  }

  .titulo-beneficios {
    font-weight: 800;
    font-size: 24px;
    margin: 0px;
    padding: 20px 0px;
  }

  .beneficios-grid {
    display: block;
    justify-items: center;
    margin-top: 0px;
  }

  .container-info-beneficios {
    width: 168px;
    height: 143px;
    padding: 5px 15px;
    border-radius: 30px;
    text-align: left;
    border: 2px solid #5e51b3;
    color: white;
    margin-bottom: 25px;
    align-content: center;
  }

  .container-info-beneficios img {
    width: 20px;
    height: 20px;
  }

  .titulo-info-beneficios {
    font-weight: 700;
    font-size: 12px;
    margin: 0px;
  }

  .info-beneficios {
    font-weight: 600;
    font-size: 10px;
    font-style: normal;
    margin: 10px 0px 0px 0px;
  }

  .boton-presupuesto {
    margin: 20px 0px;
    width: 270px;
    height: 30px;
    border-radius: 28px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }

  .boton-presupuesto img {
    width: 20px;
    margin-top: 1px;
  }

  .extra-beneficios {
    display: grid;
    justify-content: space-evenly;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 10px 0px 10px;
    height: auto;
  }

  .extra-item {
    text-align: center;
    color: white;
    justify-items: center;
  }

  .extra-item h3 {
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0px;
  }

  .extra-item p {
    font-weight: 300;
    font-size: 8px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 85%;
  }

  #linea-horizontal-beneficios {
    height: 2px;
    width: 90%;
  }

  #borde-vertical-medio {
    border-left: 2px solid #5e51b3;
    border-right: 2px solid #5e51b3;
  }

  /*                                                               proyectos mobile */
  .container-proyectos {
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .HeroProyects {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .container-text-proyects {
    width: 50%;
  }

  .texto-principal-proyectos {
    font-weight: 600;
    font-size: 24px;
    margin: 0px;
  }

  .texto-secundario-proyectos {
    font-weight: 200;
    font-size: 12px;
    margin: 20px 0px;
  }

  .texto-terciario-proyectos {
    font-weight: 300;
    font-size: 10px;
    padding: 0px;
    width: 160px;
    height: 20px;
    text-align: center;
    align-content: center;
    border-radius: 25px;
  }

  .titulo-proyectos {
    margin: 20px 0px 0px 0px;
    font-size: 10px;
    width: 96px;
    font-weight: 600;
    line-height: 10px;
    border-bottom: 1px solid white;
  }

  .titulo-proyectos img {
    display: none;
  }

  .HeroPickProjects {
    border-radius: 30px;
    width: 144px;
    height: 180px;
    box-shadow: 0px 0px 3px 3px rgb(3, 3, 3);
  }

  /* slider proyectos */

  .container-proyectos-components {
    width: 300px;
    height: 287px;
    margin: 0px;
  }

  .slider-proyectos div {
    width: 300px;
    height: 287px;
  }

  #boton-slider-proyecto-derecha {
    top: 45%;
  }

  #boton-slider-proyecto-izquierda {
    top: 45%;
  }

  /* clases de los proyectos del slider */
  .container-proyecto {
    top: 100%;
  }

  .nombre-ciudad {
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
    padding-bottom: 0px;
    padding-top: 10px;
  }

  .titulo-proyecto {
    font-size: 12px;
    margin: 15px 0px;
    width: 60%;
  }

  .clase-proyecto {
    font-size: 10px;
    margin: 0px 0pc 30px 0px;
  }

  .conoce-mas {
    font-weight: 600;
    font-size: 12px;
    border-radius: 28px;
    width: 130px;
    height: 30px;
    bottom: 35px;
  }

  .conoce-mas:hover {
    transform: scale(1.03);
    background-color: rgba(0, 174, 255, 0.753);
  }

  .conoce-mas img {
    margin: 2px 0px 0px 5px;
    width: 15px;
    height: 15px;
  }

  /*                                                            contacto mobile */

  .container-contacto {
    padding: 0px;
    display: block;
    justify-content: center;
  }

  .container-contacto h1 {
    font-size: 30px;
    margin: 0px;
    padding: 20px 0px 20px 20px;
    -webkit-text-stroke: 1px white;
    text-align: start;
    letter-spacing: 2px;
  }

  .container-hero-contacto {
    display: block;
    justify-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }

  /* Mapa */
  .container-mapa {
    width: 265px;
    height: 265px;
    margin-top: 0px;
    border-radius: 30px;
    border: 3px solid #5e51b3;
    margin-bottom: 30px;
  }

  iframe {
    border-radius: 30px;
  }

  /* Formulario */

  #containerForm {
    border-radius: 30px;
    height: auto;
    max-width: 215px;
    padding: 25px;
    box-shadow: 0px 0px 10px 5px rgb(3, 3, 3);
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 3px solid #5e51b3;
  }

  .TitleForm {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0px;
  }

  label {
    display: block;
    margin-bottom: 3px;
    text-align: start;
    font-family: "Montserrat", serif;
    font-size: 13px;
  }

  input {
    padding: 5px;
    border-radius: 5px;
    font-size: 11px;
    margin-bottom: 8px;
    height: 28px;
  }

  textarea {
    height: 70px;
    font-size: 11px;
  }

  textarea:hover {
    background-color: #ffffffb2;
  }

  input:focus,
  textarea:focus {
    border-color: #0066cc;
    /* Cambia el borde a azul al hacer foco */
    outline: none;
    /* Elimina el borde por defecto */
    background-color: #333;
    /* Mantiene el fondo oscuro al hacer foco */
  }

  #submit {
    padding: 10px 22px;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-top: 10px;
  }

  #submit:hover {
    background-color: #004c99;
  }

  .error {
    font-size: 10px;
    padding-bottom: 3px;
  }

  .container-redes {
    height: 130px;
    width: 100%;
    align-content: center;
    justify-content: center;
    position: relative;
  }

  .container-redes img {
    margin: 0px 10px;
    width: 30px;
  }

  .linea-redes-izquierda {
    position: absolute;
    background-color: white;
    height: 1px;
    width: 25%;
    left: 0;
    top: 50%;
  }

  .linea-redes-derecha {
    position: absolute;
    background-color: white;
    height: 1px;
    width: 25%;
    right: 0;
    top: 50%;
  }

  .boton-back-mobile {
    display: flex;
    position: absolute;
    top: 65px;
    left: 10px;
    width: 30px;
    height: 30px;
  }
}
